name: Playwright Tests
on:
  push:
    branches: [ '**' ]  # Run on all branches
  pull_request:
    branches: [ main, master ]

env:
  VITE_PUBLIC_GRAPH_URL: ${{ secrets.VITE_PUBLIC_GRAPH_URL }}
  VITE_PUBLIC_RPC_URL: ${{ secrets.VITE_PUBLIC_RPC_URL }}
  VITE_PUBLIC_PONDER_URL: ${{ secrets.VITE_PUBLIC_PONDER_URL }}
  SECRET_WORDS: ${{ secrets.SECRET_WORDS }}

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'pnpm'
    - name: Install dependencies
      run: npm install -g pnpm && pnpm install
    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps
    - name: Install wait-on
      run: npm install -g wait-on
    - name: Start web application and wait
      working-directory: ./apps/web
      run: |
        pnpm dev & # Start the dev server in background
        wait-on -t 60000 http://localhost:5173 # Wait for up to 60 seconds for the server to respond
    - name: Run Playwright tests
      run: pnpm exec playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
